*{
    display: block;
}

.cont-img img{

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.5s ease;

}

.cont-imgLink img{

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.50s ease;

}

.cont-img img:hover{

    transform: scale(0.9);

}